* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}


body{
    width: 100%;
    height: 1000px;
}

header {
    background: #132235;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

nav{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}

.imageHeader {
    width: 240px;
    height: 90px;
    outline: 0;
    border: 0px;
    display: block;
}

.imageHeader:hover {
    opacity: 50%
}

.menuContato:hover{
    color: #6cd8d1;
}

.menuFAQ:hover{
    color: #6cd8d1;
}

.menu:hover{
    color: #6cd8d1;
}


.quemSomos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    color: white;
    background: #2d395d;
    height: 140%;
}

.quemSomosTilulo {
    margin-top: 40px;
    font-size: 40px;
    color: #6cd8d1;
}

.quemSomosSubTilulo {
    color: #6cd8d1;
    margin-top: 40px;
    font-size: 30px;
}

.textoQuemSomos {
    margin-top: 30px;
    font-size: 20px;

}

table{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}

th {
    background-color: #6cd8d1;
}

.pais {
    background-color: #6cd8d1;
}

.quantidade {
    background-color: white;
    color: #6cd8d1;
}

footer {
    background: #00000f;
    height: 235px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.faceLogo {
    margin-top: 30px;
    margin-left: 13px;
    width: 30px;
    height: 30px;
}

.faceLogo:hover{
    opacity: 50%;
}

.instaLogo {
    margin-top: 30px;
    margin-left: 13px;
    width: 30px;
    height: 30px;
}

.instaLogo:hover{
    opacity: 50%;
}

.twitterLogo {
    margin-top: 30px;
    margin-left: 13px;
    width: 30px;
    height: 30px;
}

.twitterLogo:hover{
    opacity: 50%;
}

.copyRight {
    color: white;
    font-size: 13px;
    margin-bottom: 10px;
    justify-content: flex-end;
    text-align: center;
}

@media screen and (max-device-width : 420px) {

    body {
        height: 700px;
    }

    .quemSomosTilulo{
        font-size: 35px;
    }

    .quemSomosTilulo{
        font-size: 25px;
    }

    .textoQuemSomos {
        font-size: 15px;
    }
}

